.notes {
    font-size: .8em;
    width: 99%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.notes p {
    margin-bottom: 0;
}

/* HOME */
.home-container {
    display: grid;
    grid-template-rows: 40% 40% 20%;
    height: calc(100vh - 38px);
    justify-content: center;
    align-items: center;
}

.welcome-message {
    letter-spacing: .35em;
}

.footer {
    align-self: flex-end;
}

.footer p {
    font-size: .7em;
    margin: 0;
}

.footer p a {
    color: blue;
}

@media (min-width: 600px) {
    .home-container {
        height: calc(100vh - 50px);
    }
}

@media (min-width: 900px) {
    .home-container {
        height: calc(100vh - 55px);
    }
}

@media (min-width: 1200px) {
    .home-container {
        height: calc(100vh - 64px);
    }
}


/* POKEMON */
.th-pokemon-entry,
.th-pokemon-type {
    width: 15%;
}

.th-pokemon-name {
    width: 25%;
}

/* TYPES */
.th-types-entry,
.th-types-type {
    width: 5%;
}

/* MOVES */
.th-moves-name {
    width: 15%;
}

.th-moves-pp {
    width: 5%;
}

.th-moves-damage-class {
    width: 13%;
}

.th-moves-effect {
    width: 40%;
}