nav {
    position: sticky;
    top: 0;
    z-index: 1;
    margin-bottom: 16px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    background-color: white;
}

nav p {
    margin: 0;
    transition: all .5s;
    color: #919191;
}

nav p a:hover,
nav p:hover {
    cursor: pointer;
    color: white;
}

nav p::after {
    content: " ";
    position: absolute;
    height: 5px;
    bottom: -5px;
    width: 20%;
    z-index: 1;
}

nav p a {
    color: inherit;
}

p.navigation-home:hover,
p.navigation-home::after {
    left: 0;
    background-color: var(--clr-fighting);
}

p.navigation-pokedex:hover,
p.navigation-pokedex::after {
    left: 20%;
    background-color: var(--clr-fire);
}

p.navigation-types:hover,
p.navigation-types::after {
    left: 40%;
    background-color: var(--clr-electric);
}

p.navigation-moves:hover,
p.navigation-moves::after {
    left: 60%;
    background-color: var(--clr-grass);
}

p.navigation-abilities:hover,
p.navigation-abilities::after {
    left: 80%;
    background-color: var(--clr-water);
}