table {
  width: 99%;
  margin: 0 auto;
}

table,
th,
td {
  border: 1px solid black;
}

.th-entry,
.th-type {
  width: 15%;
}

.th-name {
  width: 25%;
}

input {
  font-size: .75em;
  width: 99%;
  max-width: 600px;
  margin: 0 auto;
}